.chatConversation {
   height: 75vh;
   background-color: #fff;
}

.userAvatar {
   position: relative;
   top: 1.5rem;
   left: -2%;
   max-width: 170px;
   font-size: 14px;
   font-weight: 500;
}

.chatContent {
   margin-bottom: 10px;
}

.guestUser {
   display: flex;
   align-items: flex-end;
   position: relative;
   top: 1.1rem;
   left: -66%;
   width: 150px;
   font-size: 14px;
   font-weight: 500;
}
